.search {
  position: relative;
  align-items: center;
  svg {
    position: absolute;
    right: -5px;
    top: 6px;
  }

  input {
    position: absolute;
    // visibility: hidden;
    left: -30px;
    top: -100px;
    position: relative;
    border: none;
    padding: 10px 10px;

    &:focus {
      visibility: visible;
      top: 0;
    }

    transition: all 0.2s ease-in-out;
  }
}
